body{
    margin: 2%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    pointer-events: none;
}

.image {
    width: 45px;
    margin-top: 50px;
}

.titleCOVIDTacker{
    font-family: sans-serif !important;
    color: brown;
}

.dividerTag{
    width: 70% !important;
    background-color: #990000 !important;
}

@media (max-width: 770px) {
    .container{
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }
}